.writing-styles-auto-scroll.show-border::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 800px;
  height: 100%;
  border: 2px solid var(--theme-color);
  border-radius: 12px;
  pointer-events: none;
}
